{
  "parser": "babel-eslint",
  "extends": ["react-app", "standard-react", "plugin:prettier/recommended"],
  "env": {
    "es6": true
  },
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2015
  },
  "rules": {
    "no-unused-vars": "error",
    "react/react-in-jsx-scope": "off"
  }
}
