.header___19c0T{background-color:#fff;display:flex;box-shadow:0 2px 8px #f0f1f2;margin-bottom:6px}.headerLogo___QpEWM{height:40px;margin-right:20px;cursor:pointer}.headerTitle___38UUU{font-size:18px;font-weight:700}.smallScreenMenuItem___18RI2{margin-bottom:10px}
.mainContainer___Au_8E{background-color:#fff}
