.ant-layout-header {
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  margin-bottom: 6px;
}

.headerLogo {
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.headerTitle {
  font-size: 18px;
  font-weight: bold;
}

.smallScreenMenuItem {
  margin-bottom: 10px;
}
