.horizontalButtonGroup {
  position: absolute;
  z-index: 10;
  width: 42px;
  height: 42px;
}

.floorBlock {
  width: 42px;
  height: 42px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 42px;
  color: #000;
}

.active {
  color: rgb(30, 130, 250);
}

.inlineBlock {
  display: inline-block;
}

.groupsContainer {
  height: 42px;
  position: absolute;
}
